@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(114, 161, 190), rgb(2, 16, 32)); /* Gradient background for a softer look */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}

.player-container {
  height: 500px;
  width: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.img-container {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: -50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 28px;
  text-align: center;
  margin: 10px 0;
  color: #333;
}

h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 10px;
  color: #555;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 20px 30px;
  height: 6px;
}

.progress {
  background: #000000;
  border-radius: 2px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  color: #666;
}


.player-controls {
  position: relative;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  user-select: none;
  transition: ease 0.2s;
}

.fas:hover {
  filter: brightness(80%);
  color: #8b7c7c; 
}

.main-button {
  font-size: 32px;
  position: relative;
  top: 3px;
  color: #0e0e20; 
}


.player-details {
  text-align: center;
  padding: 15px;
  background: rgba(255, 122, 127, 0.8);
  border-radius: 10px;
  margin: 20px;
  color: #fff;
}


@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 0;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: 0;
    width: 180px;
  }
}
